.mapboxgl-popup-content {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0px;
  max-width: 200px;
}

.mapboxgl-popup-content h1 {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 10px;
  padding: 10px;
  margin: 0;
  line-height: 1.3;
}

img {
  width: 100%;
  height: auto;
}

.pb-container {
  position: relative;
  display: block;
  width: 200px;
  padding-bottom: 66.66%;
  overflow: hidden;
}

.pb-container img {
  position: absolute;
  top: 0;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  object-position: center;
}

/* POP UP */
.mapboxgl-popup-content-marker {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0px;
  padding-bottom: 10px;
}

.mapboxgl-popup-content-marker h3 {
  font-weight: 500 !important;
  font-size: 30px;
  line-height: 1.2;
  margin: 10px 0;
}

.mapboxgl-popup-content-marker h4 {
  text-transform: uppercase;
  font-size: 14px !important;
  font-size: 20px;
  margin: 0;
}

.mapboxgl-popup-content-marker .title {
  padding: 0 20px;
}

.mapboxgl-popup-content-marker p {
  padding: 0 20px;
  font-size: 14px;
}

.mapboxgl-popup-content {
  padding: 0;
}

/* 
  Embeded mapbox styles
  */

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #121212;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: #121212;
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: #121212;
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: #121212;
}

.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: #121212;
}

.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
  border-bottom-color: #121212;
}

.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: #121212;
}

.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip {
  border-top-color: #121212;
}

div.mapboxgl-popup-content {
  background-color: #121212;
  color: rgb(218, 218, 218);
  z-index: 101;
}

.mapboxgl-popup-close-button {
  color: #fff;
  padding-right: 2.5px;
}

div.pins-markers {
  display: grid;
  place-items: center;
  height: 24px;
  width: 24px;
  font-size: 9.5px;
  z-index: 0 !important;
  cursor: pointer;
}
